In [4]:
#Materi print
#Awali dengan sapaan

print ('Halo Semua..')

#print adalah perintah untuk mencetak tulisan
#tulisan dalam perintah print harus diapit dengan tanda ' ' atau " "

Halo Semua..

In [5]:
#Materi print
#Ucapkan juga sambutan dan perkenalan kelas

print ('Selamat Datang di Kelas Algoritma dan Struktur Data')

#boleh saja menggunakan tanda ' ' atau " " tidak akan menyebabkan error
#sehabis perintah print jangan lupa pakai tanda kurung

Selamat Datang di Kelas Algoritma dan Struktur Data

In [6]:
#Materi print
#Perkenalan diri

Perkenalan = 'Perkenalkan nama saya '
Nama_Depan = 'Yuni '
Nama_Belakang = 'Antari'
print (Perkenalan + Nama_Depan + Nama_Belakang)

#Perkenalan, Nama_Depan, dan Nama_Belakang adalah parameter yang tidak menggunakan tanda ' '
#tanda = dan ' ' untuk membantu mendeklarasikan parameter
#tanda _ sebagai penanda spasi
#pada bagian 'Yuni ' terlihat diberi spasi 1 kali agar saat di run ada jarak antara kata Yuni dan Antari
#tanda tambah berfungsi untuk untuk menggabungkan parameter

Perkenalkan nama saya Yuni Antari

In [7]:
#Materi print
#Perkenalan kampus

print ('Saya Kuliah di Universitas Udayana')

Saya Kuliah di Universitas Udayana

In [8]:
#Materi print
#Perkenalan jurusan

Prodi = 'Prodi Matematika, '
Fakultas = 'Fakultas MIPA'
print (Prodi + Fakultas)

Prodi Matematika, Fakultas MIPA

In [12]:
#Materi print
#Jumlah mahasiswa prodi matematika angkatan 2022

Jumlah_Kelas_Angkatan_2022 = 2
Jumlah_Mahasiswa_Dalam_Satu_Kelas = 43
print(Jumlah_Kelas_Angkatan_2022)
print(Jumlah_Mahasiswa_Dalam_Satu_Kelas)
#print jumlah mahasiswa angkatan 2022 dengan mengalikannya
print(Jumlah_Kelas_Angkatan_2022*Jumlah_Mahasiswa_Dalam_Satu_Kelas)

#parameter yang dideklarasikan hanya menggunakan angka tidak menggunakan tanda apit ' '

2
43
86

In [14]:
#Materi Input
#Kegiatan kelas yang kegiatan rutinnya adalah belajar dan diajar oleh dosen

Kelas = input('Anda kelas apa? ')
Kegiatan = input('Sedang apa ' + Kelas + ' ' + 'Sekarang? ')
Mata_Kuliah = input('Belajar Mata kuliah apa? ')
Dosen = input('Siapa yang mengajar? ' )
print(Kelas +' ' + Kegiatan + ' ' + Mata_Kuliah + ' '+ 'yang diajar oleh ' + Dosen)

#input digunakan jika kita mendapat informasi dari pengguna
#tanda ' ' adalah spasi untuk memisahkan kata agar terlihat rapi

Anda kelas apa? kelas A
Sedang apa kelas A Sekarang? sedang belajar
Belajar Mata kuliah apa? Algoritma dan Struktur Data
Siapa yang mengajar? Pak Eka Dwipayana
kelas A sedang belajar Algoritma dan Struktur Data yang diajar oleh Pak Eka Dwipayana

In [15]:
#Materi input
#Pembahasan materi yang sudah diajarkan dan tugas yang diberikan

Materi = input('Materi apa yang diajarkan? ')
Tugas = input('Apakah selesai pelajaran ada diberikan tugas? ')
Deadline_Tugas = input('Kapan batas waktu pengumpulan tugasnya? ')
print('Materi yang diajarkan adalah'+ ' ' + Materi + ',' + ' ' + 'setelah itu' + ' ' + Tugas + ' '+ 'tugas yang batas waktu pengumpulannya tanggal' + ' ' + Deadline_Tugas)

#deklarasi parameternya bisa diinput sendiri oleh pengguna
#pada perintah print bisa ditambahkan kata yang digabung dengan semua parameter yang telah dideskripsikan agar membentuk kalimat yang lengkap

Materi apa yang diajarkan? print, input, tipe data pada python, dan formatted string
Apakah selesai pelajaran ada diberikan tugas? ada
Kapan batas waktu pengumpulan tugasnya? 19 Maret 2023
Materi yang diajarkan adalah print, input, tipe data pada python, dan formatted string, setelah itu ada tugas yang batas waktu pengumpulannya tanggal 19 Maret 2023

In [16]:
#Materi print
#Pembahasan terkait tugas yang sudah diberikan

print('Ini adalah tugas yang diberikan tanggal 13 Maret 2023, ')
print('Tugas sebelumnya adalah membuat akun github')

Ini adalah tugas yang diberikan tanggal 13 Maret 2023,
Tugas sebelumnya adalah membuat akun github

In [19]:
#Materi tipe data pada python
#Gangguan saat saya sedang mengerjakan tugas

print('Saat saya sedang mengerjakan tugas, adik saya bertanya tentang berapa hasil kali dari 2 angka yang disebutkannya')
Angka_1 = input('Angka Pertama = ')
Angka_2 = input('Angka Kedua = ')
Hasil_Kali = float(Angka_1) * float(Angka_2)
print('Hasil kalinya adalah = ' + str(Hasil_Kali))

#saya coba padukan perintah print, input, dan tipe data
#saya pakai float karena ingin megimputkan angka desimal
#str adalah string tersebut digunakan sebagai pendeskripsian hasil kali Angka_1 dan Angka_2
#dalam menginputkan angka desimal harus menggunakan tanda titik bukan koma, jika menggunakan koma akan error

Saat saya sedang mengerjakan tugas, adik saya bertanya tentang berapa hasil kali dari 2 angka yang disebutkannya
Angka Pertama = 1.9
Angka Kedua = 2.4
Hasil kalinya adalah = 4.56

In [9]:
#Materi tipe data pada python
#Pembahasan terkait jumlah tugas

Jumlah_Tugas_Baru = input('Berapa jumlah tugas yang baru diberikan? ')
Jumlah_Tugas_Sebelumnya = input('Berapa jumlah tugas sebelumnya yang sudah diberikan? ')
Total_Tugas = int(Jumlah_Tugas_Baru) + int(Jumlah_Tugas_Sebelumnya)
print('Total tugas yang telah diberikan adalah ' + str(Total_Tugas)) 

#tipe data yang digunakan adalah integer untuk bilangan bulat

Berapa jumlah tugas yang baru diberikan? 1
Berapa jumlah tugas sebelumnya yang sudah diberikan? 1
Total tugas yang telah diberikan adalah 2

In [20]:
#Materi tipe data pada python
#Pembahasan lama waktu belajar

SKS = 3
Lama_Menit_1_SKS = 50
#bisa menggunakan tipe data string untuk menentukan lama waktu belajar
print('Lama pelajarannya adalah ' + str(SKS * Lama_Menit_1_SKS) + ' ' + 'menit')

Lama pelajarannya adalah 150 menit

In [21]:
#Materi print
#Penjelasan hak dan kewajiban mahasiswa
print('Itu semua adalah hak dan kewajiban saya sebagai mahasiswa. Hak untuk bisa mendapatkan pelajaran dan kewajiban untuk mengerjakan tugas.')

Itu semua adalah hak dan kewajiban saya sebagai mahasiswa. Hak untuk bisa mendapatkan pelajaran dan kewajiban untuk mengerjakan tugas.

In [22]:
#Materi formatted string
#Kesamaan diri dengan mahasiswa lain

Diri = 'Saya'
Nama = 'Yuni Antari'
Pekerjaan = 'mahasiswa'
Kampus = 'Universitas Udayana'
print(f'{Diri}, {Nama} adalah {Pekerjaan} dari {Kampus}, yang tentunya sama seperti mahasiswa pada umumnya yaitu memiliki hak dan kewajiban.')

#formatted string untuk mempermudak penulisan variabel pada perintah print
#penghematan menggunakan tanda ' '
#parameternya bisa diisi kurung korawal di bagian perintah print

Saya, Yuni Antari adalah mahasiswa dari Universitas Udayana, yang tentunya sama seperti mahasiswa pada umumnya yaitu memiliki hak dan kewajiban.

In [52]:
#Materi formatted string
#Alamat kampus saya yaitu Universitas Udayana
Nama_Jalan = 'Jalan Raya Kampus Unud, Jimbaran'
Nama_Kecamatan = 'Kec. Kuta Selatan'
Nama_Kabupaten = 'Kab. Badung'
Nama_Provinsi = 'Bali'
print('Alamat Universitas Udayana adalah di ' + f'{Nama_Jalan}, {Nama_Kecamatan}, {Nama_Kabupaten}, {Nama_Provinsi}. ')

Alamat Universitas Udayana adalah di Jalan Raya Kampus Unud, Jimbaran, Kec. Kuta Selatan, Kab. Badung, Bali.

In [51]:
#Materi print
#Sebaran tempat Universitas Udayana
print('Sebenarnya Universitas Udayana tersebar di 3 tempat di Bali.')

Sebenarnya Universitas Udayana tersebar di 3 tempat di Bali.

In [53]:
#Materi formatted string
#Sebaran tempat Universitas Udayana
Tempat_1 = 'Jimbaran'
Tempat_2 = 'Sudirman'
Tempat_3 = 'Nias'
print('Universitas Udayana ada di ' f'{Tempat_1}, {Tempat_2}, dan di {Tempat_3}.')

Universitas Udayana ada di Jimbaran, Sudirman, dan di Nias.

In [25]:
#Materi tipe data pada python
#Menilai benar atau salah sebuah kalimat

Jimbaran_di_Bali = True
Sudirman_di_Jawa = False
print ('Apakah Jimbaran ada di Bali? ' + str(Jimbaran_di_Bali))
print ('Apakah Sudirman ada di Jawa? ' + str(Sudirman_di_Jawa))

#print teks yang akan ditampilkan dan menggunakan tipe data string untuk variabelnya

Apakah Jimbaran ada di Bali? True
Apakah Sudirman ada di Jawa? False