In [1]:
#Materi print
#Awali dengan sapaan
print ('Halo Semua..')

Halo Semua..

In [2]:
#Materi print
#Ucapkan juga sambutan dan perkenalan kelas
print ('Selamat Datang di Kelas Algoritma dan Struktur Data')

Selamat Datang di Kelas Algoritma dan Struktur Data

In [3]:
#Materi print
#Perkenalan diri
Perkenalan = 'Perkenalkan nama saya '
Nama_Depan = 'Yuni '
Nama_Belakang = 'Antari'
print (Perkenalan + Nama_Depan + Nama_Belakang)

Perkenalkan nama saya Yuni Antari

In [4]:
#Materi print
#Perkenalan kampus
print ('Saya Kuliah di Universitas Udayana')

Saya Kuliah di Universitas Udayana

In [5]:
#Materi print
#Perkenalan jurusan
Prodi = 'Prodi Matematika, '
Fakultas = 'Fakultas MIPA'
print (Prodi + Fakultas)

Prodi Matematika, Fakultas MIPA

In [63]:
#Materi print
#Jumlah mahasiswa prodi matematika angkatan 2022
Jumlah_Kelas_Angkatan_2022 = 2
Jumlah_Mahasiswa_Dalam_Satu_Kelas = 43
print(Jumlah_Kelas_Angkatan_2022*Jumlah_Mahasiswa_Dalam_Satu_Kelas)

86

In [2]:
#Materi Input
#Kegiatan kelas yang kegiatan rutinnya adalah belajar dan diajar oleh dosen
Kelas = input('Anda kelas apa? ')
Kegiatan = input('Sedang apa ' + Kelas + ' ' + 'Sekarang? ')
Mata_Kuliah = input('Belajar Mata kuliah apa? ')
Dosen = input('Siapa yang mengajar? ' )
print(Kelas +' ' + Kegiatan + ' ' + Mata_Kuliah + ' '+ 'yang diajar oleh ' + Dosen)

Anda kelas apa? kelas A
Sedang apa kelas A Sekarang? sedang belajar
Belajar Mata kuliah apa? Algoritma dan Struktur Data
Siapa yang mengajar? Pak Eka Dwipayana
kelas A sedang belajar Algoritma dan Struktur Data yang diajar oleh Pak Eka Dwipayana

In [3]:
#Materi input
#Pembahasan materi yang sudah diajarkan dan tugas yang diberikan
Materi = input('Materi apa yang diajarkan? ')
Tugas = input('Apakah selesai pelajaran ada diberikan tugas?' )
Deadline_Tugas = input('Kapan batas waktu pengumpulan tugasnya?' )
print('Materi yang diajarkan adalah'+ ' ' + Materi + ',' + ' ' + 'setelah itu' + ' ' + Tugas + ' '+ 'tugas yang batas waktu pengumpulannya tanggal' + ' ' + Deadline_Tugas)

Materi apa yang diajarkan? print, input, tipe data pada python, dan formatted string
Apakah selesai pelajaran ada diberikan tugas?ada
Kapan batas waktu pengumpulan tugasnya?19 Maret 2023
Materi yang diajarkan adalah print, input, tipe data pada python, dan formatted string, setelah itu ada tugas yang batas waktu pengumpulannya tanggal 19 Maret 2023

In [64]:
#Materi print
#Pembahasan terkait tugas yang sudah diberikan
print('Ini adalah tugas yang diberikan tanggal 13 Maret 2023, ')
print('Tugas sebelumnya adalah membuat akun github')

Ini adalah tugas yang diberikan tanggal 13 Maret 2023,
Tugas sebelumnya adalah membuat akun github

In [1]:
#Materi tipe data pada python
#Gangguan saat saya sedang mengerjakan tugas
print('Saat saya sedang mengerjakan tugas, adik saya bertanya tentang berapa hasil kali dari 2 angka yang disebutkannya')
Angka_1 = input('Angka Pertama = ')
Angka_2 = input('Angka Kedua = ')
Hasil_Kali = float(Angka_1) * float(Angka_2)
print('Hasil kalinya adalah = ' + str(Hasil_Kali))

Saat saya sedang mengerjakan tugas, adik saya bertanya tentang berapa hasil kali dari 2 angka yang disebutkannya
Angka Pertama = 1.9
Angka Kedua = 2.4
Hasil kalinya adalah = 4.56

In [9]:
#Materi tipe data pada python
#Pembahasan terkait jumlah tugas
Jumlah_Tugas_Baru = input('Berapa jumlah tugas yang baru diberikan? ')
Jumlah_Tugas_Sebelumnya = input('Berapa jumlah tugas sebelumnya yang sudah diberikan? ')
Total_Tugas = int(Jumlah_Tugas_Baru) + int(Jumlah_Tugas_Sebelumnya)
print('Total tugas yang telah diberikan adalah ' + str(Total_Tugas))

Berapa jumlah tugas yang baru diberikan? 1
Berapa jumlah tugas sebelumnya yang sudah diberikan? 1
Total tugas yang telah diberikan adalah 2

In [19]:
#Materi tipe data pada python
#Pembahasan lama waktu belajar
SKS = 3
Lama_Menit_1_SKS = 50
print('Lama pelajarannya adalah ' + str(SKS * Lama_Menit_1_SKS) + ' ' + 'menit')

Lama pelajarannya adalah 150 menit

In [20]:
#Materi print
#Penjelasan hak dan kewajiban mahasiswa
print('Itu semua adalah hak dan kewajiban saya sebagai mahasiswa. Hak untuk bisa mendapatkan pelajaran dan kewajiban untuk mengerjakan tugas.')

Itu semua adalah hak dan kewajiban saya sebagai mahasiswa. Hak untuk bisa mendapatkan pelajaran dan kewajiban untuk mengerjakan tugas

In [37]:
#Materi formatted string
#Kesamaan diri dengan mahasiswa lain
Diri = 'Saya'
Nama = 'Yuni Antari'
Pekerjaan = 'mahasiswa'
Kampus = 'Universitas Udayana'
print(f'{Diri}, {Nama} adalah {Pekerjaan} dari {Kampus}, yang tentunya sama seperti mahasiswa pada umumnya yaitu memiliki hak dan kewajiban.')

Saya, Yuni Antari adalah mahasiswa dari Universitas Udayana, yang tentunya sama seperti mahasiswa pada umumnya yaitu memiliki hak dan kewajiban.

In [52]:
#Materi formatted string
#Alamat kampus saya yaitu Universitas Udayana
Nama_Jalan = 'Jalan Raya Kampus Unud, Jimbaran'
Nama_Kecamatan = 'Kec. Kuta Selatan'
Nama_Kabupaten = 'Kab. Badung'
Nama_Provinsi = 'Bali'
print('Alamat Universitas Udayana adalah di ' + f'{Nama_Jalan}, {Nama_Kecamatan}, {Nama_Kabupaten}, {Nama_Provinsi}. ')

Alamat Universitas Udayana adalah di Jalan Raya Kampus Unud, Jimbaran, Kec. Kuta Selatan, Kab. Badung, Bali.

In [51]:
#Materi print
#Sebaran tempat Universitas Udayana
print('Sebenarnya Universitas Udayana tersebar di 3 tempat di Bali.')

Sebenarnya Universitas Udayana tersebar di 3 tempat di Bali.

In [53]:
#Materi formatted string
#Sebaran tempat Universitas Udayana
Tempat_1 = 'Jimbaran'
Tempat_2 = 'Sudirman'
Tempat_3 = 'Nias'
print('Universitas Udayana ada di ' f'{Tempat_1}, {Tempat_2}, dan di {Tempat_3}.')

Universitas Udayana ada di Jimbaran, Sudirman, dan di Nias.